---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Custom styles can be added here */

.page__hero {
  margin-bottom: 2em;
}

.archive__item-title {
  margin-bottom: 0.25em;
  font-family: $header-font-family;
}

/* Custom header styling */
.masthead {
  border-bottom: 1px solid $border-color;
}
